# dependencies
node_modules/

# environment variables
.env
api/.env

# uploads
api/uploads/
uploads/

# firebase keys
api/config/serviceAccountKey.json

# python cache
__pycache__/
*.pyc

# ML temp
ml-service/temp/

# logs
*.log

# OS files
.DS_Store
.claude/
Thumbs.db